body{
    margin: 0 auto;
    padding: 0px;
    font-family: sans-serif;
}

.main{
    width: 100%;
    min-height: 1700px;
    float: left;
    background-color: bisque;
}

.backphoto{
    width: 100%;
    height: 750px;
    background-color: brown;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    float: left;
}

.topMenu{
    width: 100%;
    height: 50px;
    float: left;
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
}

.disFlex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.concacts{
    width: 400px;
    height: inherit;
    float: left;
    background-color: black;
    padding-left: 28px;
}

.concacts ul{
    padding: 0;
}

.concacts ul li{
    float: left;
    color: white;
}

.concacts ul li a{
    margin-right: 50px;
    background: green;
    text-decoration: none;
    color: white;
    z-index: 1;
    transition: 0.5s;
}

.concacts ul li a:hover , .concacts ul li:hover{
    color: #c0c0c0;
}

.smedia{
    width: 250px;
    height: 50px;
    float: left;
    background-color: black;
}

.smedia ul{
    padding: 0;
}

.smedia ul li{
    float: left;
    color: white;
    transition: 0.5s;
}

.smedia ul li a{
    margin-right: 40px;
    background: green;
    text-decoration: none;
    color: white;
    font-size: 20px;
    z-index: 1;
    transition: 0.5s;
}

.smedia ul li a:hover , .smedia ul li:hover{
    color: #c0c0c0;
}

.navbar{
    width: 100%;
    height: 100px;
    background-color: gray;
    float: left;
}

.rightside{
    width: 25%;
    height: inherit;
    float: left;
    /* background: fuchsia; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.centerside{
    width: 50%;
    height: inherit;
    float: left;
    /* background-color: darkcyan; */
}

.leftside{
    width: 25%;
    height: inherit;
    float: left;
    /* background-color: lightcoral; */
}

.isuzu{
    width: 120px;
    height: 32px;
    /* background-color: black; */
    float: left;
    border: 1px solid rgba(255, 255, 255, 0.69);
    font-size: 20px;
    margin-left: 52px;
    font-family: none;
    transition: 0.5s;
    z-index: 1;
}

.isuzu a , .search a , .bars a{
    text-decoration: none;
    color: white;
}

.isuzu a:hover , .search a:hover , .bars a:hover{
    color: #c0c0c0;
    transition: 0.5s;
}

.words{
    width: 700px;
    height: 40px;
    /* background-color: black; */
    float: left;
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-size: 14px;
    z-index: 1;
}

.words ul {
    padding: 0px;
}

.words ul li {
    float: left;
    list-style-type: none;
}

.words ul li a{
    margin: 15px;
    padding: 10px;
    /* background: antiquewhite; */
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.words ul li a:hover{
    color: #c0c0c0;
    transition: 0.5s;
}

.icon2{
    width: 120px;
    height: 40px;
    background-color: bisque;
    float: left;
    z-index: 1;
}

.search{
    width: 50px;
    height: inherit;
    background-color: black;
    color: white;
    float: left;
    margin-left: 20px;
}

.bars{
    width: 50px;
    height: inherit;
    background-color: black;
    color: white;
    float: left;
}

